#dv2 {
    position: relative;
}

#dv1 {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    background-color: #f00;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 25px;
}

#bt1 {
    position: absolute;
    top: 120px;
    margin-left: 20px;
}

#bt2 {
    position: absolute;
    top: 120px;
    margin-left: 83px;
}